
<!-- Header -->
<header class="jn-header">
    <div class="container">
        <div class="row">
            <div class="jn-intro-text col-lg-10 col-xl-8">
                <h1>Bonjour I'm Nikos, <br> Paris-based service designer</h1>
                <p class="jn-intro-description">
                    I help companies get “digital” right. I design digital products that your developers can actually
                    implement, while I help you answer your most burning digital strategy questions, like:
                </p>
                <p class="jn-intro-description font-italic">
                    “What do we create, for whom & why?” & “How can we optimize customer experience & business profit
                    at the same time?”
                </p>
                <a href="#work" class="page-scroll jn-btn jn-btn--medium">SEE MY WORK</a>
            </div>
        </div>
    </div>
</header>

<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

