<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

 <!-- Plugin JavaScript -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.compatibility.min.js"></script>

 <!--<script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>-->
 <script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
 <script src="{{ "/js/cbpAnimatedHeader.js?v=1.0" | prepend: site.baseurl }}"></script>

 <!-- Contact Form JavaScript -->
 <!--<script src="{{ "/js/jqBootstrapValidation.js" | prepend: site.baseurl }}"></script>-->
 <!--<script src="{{ "/js/contact_me.js" | prepend: site.baseurl }}"></script>-->

 <!-- Custom Theme JavaScript -->
 <script src="{{ "/js/agency.js" | prepend: site.baseurl }}"></script>


