<!-- About Section -->
    <section id="method">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">My methodology</h2>
                </div>
            </div>

            <div class="row">
                <div class="">
                    <ol class="row jn-methods">
                        <li class="col-xs-12 col-lg-6">
                            <div class="jn-method">
                                <h3>Research</h3>
                                <p>
                                    In service design, research is used to understand people, their motivaitons & their
                                    behavior. Some of the tools we can use during this phase include personas, journey maps,
                                    system maps, user stories and jobs-to-be-done.
                                </p>
                            </div>
                        </li>
                        <li class="col-xs-12 col-lg-6">
                            <div class="jn-method">
                                <h3>Ideation</h3>
                                <p>
                                    All through the project, we will be creating ideas we might find useful - we should make
                                    sure we preserve them. We attemp to avoid making big, weighty choices, and instead we
                                    aim for many small, low-risk provisional decisions.
                                </p>
                            </div>
                        </li>
                        <li class="col-xs-12 col-lg-6">
                            <div class="jn-method">
                                <h3>Prototyping</h3>
                                <p>
                                    Once we have build an understanding of our users and the business context, and we have
                                    generated enough ideas to get us going, we create quick, low-fidelity prototypes.
                                    We test those prototypes with real users in order to get their feedback.
                                </p>
                            </div>
                        </li>
                        <li class="col-xs-12 col-lg-6">
                            <div class="jn-method">
                                <h3>Implementation</h3>
                                <p>
                                    At this point, we are ready to implement a Minimum Viable Product (MVP). At first, our
                                    MVP can be just a high-fidelity sketch, but over time using an agile approach, we
                                    develop our service. As we iterate through steps 1-4, we get user feedback at each
                                    iteration.
                                </p>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </section>