<!-- Navigation -->

<style>
    .navbar-default.navbar-shrink {
        background-color: {{ page.color }};
    }

    .navbar-default .navbar-nav {
        background-color: {{ page.color }};
    }
</style>

    <nav class="navbar navbar-default navbar-expand-md navbar-fixed-top {{include.class}}">
        <div class="container">
            <a class="navbar-brand page-scroll" href="/#">{{site.title}}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                menu
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="nav-item">
                        <a class="page-scroll" href="/#work">work</a>
                    </li>
                    <li class="nav-item">
                        <a class="page-scroll" href="/#skills">about</a>
                    </li>
                    <li class="nav-item">
                        <a class="page-scroll" href="/#contact">contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
