<!-- Services Section -->
    <section id="work">
        <div class="">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Previous Work</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img src="/img/mockup_paris8.png" class="jn-previous-work-img d-none d-md-inline" alt="Previous work at Paris 8">
                </div>
                <div class="col-md-6 d-flex align-items-center text-left">
                    <div class="jn-work-item">
                        <h3 class="jn-work-heading">Université Paris&nbsp;8</h3>
                        <p class="jn-work-description">Creation of an intranet, a Knowledge Management System (KMS) and a CRM.</p>
                        <a href="/paris8" class="jn-btn">Read more</a>
                    </div>
                </div>
            </div>
            <div class="row d-flex">
                <div class="col-md-6 d-flex align-items-center text-left order-1 order-md-0">
                    <div class="jn-work-item container jn-work-item-left">
                        <h3 class="jn-work-heading">Dreamin</h3>
                        <p class="jn-work-description">UX / UI design of an ad management dashboard to control revenue, KPIs, alerts, …</p>
                        <a href="/dreamin" class="jn-btn">Read more</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="/img/mockup_dreamin.png" class="jn-previous-work-img jn-img-oversize" alt="Previous work at Paris 8">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 text-center">
                    <img src="/img/mockup_cnrs.png" class="jn-previous-work-img" alt="Previous work at Paris 8">
                </div>
                <div class="col-md-6 d-flex align-items-center text-left">
                    <div class="jn-work-item">
                        <h3 class="jn-work-heading">CNRS & others</h3>
                        <p class="jn-work-description">UX / UI design proposition for the dashboard of a critical application with 30K+ users.</p>
                        <a href="/cnrs" class="jn-btn">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </section>